.vscode/settings.json
scripts/fasttext_cache/crawl-300d-2M-subword.bin
*.txt
code/MixMedia/__pycache__/data.cpython-37.pyc
code/MixMedia/__pycache__/utils.cpython-37.pyc
code/MixMedia/runs/*
code/MixMedia_old/runs/*
code/RNN_cnpi_baseline/lightning_logs/*
code/MixMedia_old/wandb/*
code/MixMedia/wandb/*
code/RNN_cnpi_baseline/wandb/*
code/RNN_eta/wandb/*
code/longformer/*
code/transfer_learning/wandb/*
